<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>board-ids</key>
	<dict>
		<key>Mac-C3EC7CD22292981F</key>
		<dict>
			<key>display-resolution-preview-icon</key>
			<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-C3EC7CD22292981F.tiff</string>
			<key>resolution-preview-x</key>
			<integer>41</integer>
			<key>resolution-preview-y</key>
			<integer>67</integer>
			<key>resolution-preview-width</key>
			<integer>144</integer>
			<key>resolution-preview-height</key>
			<integer>90</integer>
		</dict>
		<key>Mac-AFD8A9D944EA4843</key>
		<dict>
			<key>display-resolution-preview-icon</key>
			<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-AFD8A9D944EA4843.tiff</string>
			<key>resolution-preview-x</key>
			<integer>47</integer>
			<key>resolution-preview-y</key>
			<integer>64</integer>
			<key>resolution-preview-width</key>
			<integer>131</integer>
			<key>resolution-preview-height</key>
			<integer>83</integer>
		</dict>
		<key>Mac-189A3D4F975D5FFC</key>
		<dict>
			<key>display-resolution-preview-icon</key>
			<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-189A3D4F975D5FFC.tiff</string>
			<key>resolution-preview-x</key>
			<integer>47</integer>
			<key>resolution-preview-y</key>
			<integer>64</integer>
			<key>resolution-preview-width</key>
			<integer>131</integer>
			<key>resolution-preview-height</key>
			<integer>83</integer>
		</dict>
		<key>Mac-3CBD00234E554E41</key>
		<dict>
			<key>display-resolution-preview-icon</key>
			<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-3CBD00234E554E41.tiff</string>
			<key>resolution-preview-x</key>
			<integer>41</integer>
			<key>resolution-preview-y</key>
			<integer>67</integer>
			<key>resolution-preview-width</key>
			<integer>144</integer>
			<key>resolution-preview-height</key>
			<integer>90</integer>
		</dict>
		<key>Mac-2BD1B31983FE1663</key>
		<dict>
			<key>display-resolution-preview-icon</key>
			<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-2BD1B31983FE1663.tiff</string>
			<key>resolution-preview-x</key>
			<integer>41</integer>
			<key>resolution-preview-y</key>
			<integer>67</integer>
			<key>resolution-preview-width</key>
			<integer>144</integer>
			<key>resolution-preview-height</key>
			<integer>90</integer>
		</dict>
		<key>Mac-42FD25EABCABB274</key>
		<dict>
			<key>display-resolution-preview-icon</key>
			<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-42FD25EABCABB274.tiff</string>
			<key>resolution-preview-x</key>
			<integer>12</integer>
			<key>resolution-preview-y</key>
			<integer>71</integer>
			<key>resolution-preview-width</key>
			<integer>202</integer>
			<key>resolution-preview-height</key>
			<integer>114</integer>
		</dict>
		<key>Mac-FA842E06C61E91C5</key>
		<dict>
			<key>display-resolution-preview-icon</key>
			<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-FA842E06C61E91C5.tiff</string>
			<key>resolution-preview-x</key>
			<integer>12</integer>
			<key>resolution-preview-y</key>
			<integer>71</integer>
			<key>resolution-preview-width</key>
			<integer>202</integer>
			<key>resolution-preview-height</key>
			<integer>114</integer>
		</dict>
		<key>Mac-65CE76090165799A</key>
		<dict>
			<key>display-resolution-preview-icon</key>
			<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-65CE76090165799A.tiff</string>
			<key>resolution-preview-x</key>
			<integer>12</integer>
			<key>resolution-preview-y</key>
			<integer>71</integer>
			<key>resolution-preview-width</key>
			<integer>202</integer>
			<key>resolution-preview-height</key>
			<integer>114</integer>
		</dict>
		<key>Mac-DB15BD556843C820</key>
		<dict>
			<key>display-resolution-preview-icon</key>
			<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-DB15BD556843C820.tiff</string>
			<key>resolution-preview-x</key>
			<integer>12</integer>
			<key>resolution-preview-y</key>
			<integer>71</integer>
			<key>resolution-preview-width</key>
			<integer>202</integer>
			<key>resolution-preview-height</key>
			<integer>114</integer>
		</dict>
		<key>Mac-B809C3757DA9BB8D</key>
		<dict>
			<key>display-resolution-preview-icon</key>
			<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-B809C3757DA9BB8D.tiff</string>
			<key>resolution-preview-x</key>
			<integer>12</integer>
			<key>resolution-preview-y</key>
			<integer>71</integer>
			<key>resolution-preview-width</key>
			<integer>202</integer>
			<key>resolution-preview-height</key>
			<integer>114</integer>
		</dict>
		<key>Mac-E43C1C25D4880AD6</key>
		<dict>
			<key>display-resolution-preview-icon</key>
			<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-E43C1C25D4880AD6.tiff</string>
			<key>resolution-preview-x</key>
			<integer>47</integer>
			<key>resolution-preview-y</key>
			<integer>64</integer>
			<key>resolution-preview-width</key>
			<integer>131</integer>
			<key>resolution-preview-height</key>
			<integer>83</integer>
		</dict>
		<key>Mac-4B682C642B45593E</key>
		<dict>
			<key>display-icon</key>
			<string>com.apple.imac-unibody-21</string>
		</dict>
	</dict>
	<key>vendors</key>
	<dict>
		<key>1e6d</key>
		<dict>
			<key>products</key>
			<dict>
				<key>5b10</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-1e6d/DisplayProductID-5b10.tiff</string>
					<key>resolution-preview-x</key>
					<integer>33</integer>
					<key>resolution-preview-y</key>
					<integer>47</integer>
					<key>resolution-preview-width</key>
					<integer>160</integer>
					<key>resolution-preview-height</key>
					<integer>90</integer>
					<key>display-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-1e6d/DisplayProductID-5b10.icns</string>
				</dict>
				<key>5b11</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-1e6d/DisplayProductID-5b11.tiff</string>
					<key>resolution-preview-x</key>
					<integer>11</integer>
					<key>resolution-preview-y</key>
					<integer>47</integer>
					<key>resolution-preview-width</key>
					<integer>202</integer>
					<key>resolution-preview-height</key>
					<integer>114</integer>
					<key>display-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-1e6d/DisplayProductID-5b11.icns</string>
				</dict>
			</dict>
		</dict>
		<key>9e6d</key>
		<dict>
			<key>products</key>
			<dict>
				<key>5b11</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-1e6d/DisplayProductID-5b11.tiff</string>
					<key>resolution-preview-x</key>
					<integer>11</integer>
					<key>resolution-preview-y</key>
					<integer>47</integer>
					<key>resolution-preview-width</key>
					<integer>202</integer>
					<key>resolution-preview-height</key>
					<integer>114</integer>
					<key>display-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-1e6d/DisplayProductID-5b11.icns</string>
				</dict>
			</dict>
		</dict>
		<key>610</key>
		<dict>
			<key>products</key>
			<dict>
				<key>9226</key>
				<dict>
					<key>display-icon</key>
					<string>com.apple.led-cinema-display-27</string>
				</dict>
				<key>9227</key>
				<dict>
					<key>display-icon</key>
					<string>com.apple.led-cinema-display-27</string>
				</dict>
				<key>9236</key>
				<dict>
					<key>display-icon</key>
					<string>com.apple.led-cinema-display-24</string>
				</dict>
				<key>a027-e1e1df</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a027-e1e1df.tiff</string>
					<key>resolution-preview-x</key>
					<integer>52</integer>
					<key>resolution-preview-y</key>
					<integer>66</integer>
					<key>resolution-preview-width</key>
					<integer>122</integer>
					<key>resolution-preview-height</key>
					<integer>76</integer>
				</dict>
				<key>a027-9d9da0</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a027-9d9da0.tiff</string>
					<key>resolution-preview-x</key>
					<integer>52</integer>
					<key>resolution-preview-y</key>
					<integer>66</integer>
					<key>resolution-preview-width</key>
					<integer>122</integer>
					<key>resolution-preview-height</key>
					<integer>76</integer>
				</dict>
				<key>a027-ebd7bf</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a027-ebd7bf.tiff</string>
					<key>resolution-preview-x</key>
					<integer>52</integer>
					<key>resolution-preview-y</key>
					<integer>66</integer>
					<key>resolution-preview-width</key>
					<integer>122</integer>
					<key>resolution-preview-height</key>
					<integer>76</integer>
				</dict>
				<key>a027-e8c9c3</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a027-e8c9c3.tiff</string>
					<key>resolution-preview-x</key>
					<integer>52</integer>
					<key>resolution-preview-y</key>
					<integer>66</integer>
					<key>resolution-preview-width</key>
					<integer>122</integer>
					<key>resolution-preview-height</key>
					<integer>76</integer>
				</dict>
				<key>a028-e1e1df</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a028-e1e1df.tiff</string>
					<key>resolution-preview-x</key>
					<integer>52</integer>
					<key>resolution-preview-y</key>
					<integer>66</integer>
					<key>resolution-preview-width</key>
					<integer>122</integer>
					<key>resolution-preview-height</key>
					<integer>76</integer>
				</dict>
				<key>a028-9d9da0</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a028-9d9da0.tiff</string>
					<key>resolution-preview-x</key>
					<integer>52</integer>
					<key>resolution-preview-y</key>
					<integer>66</integer>
					<key>resolution-preview-width</key>
					<integer>122</integer>
					<key>resolution-preview-height</key>
					<integer>76</integer>
				</dict>
				<key>a028-ebd7bf</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a028-ebd7bf.tiff</string>
					<key>resolution-preview-x</key>
					<integer>52</integer>
					<key>resolution-preview-y</key>
					<integer>66</integer>
					<key>resolution-preview-width</key>
					<integer>122</integer>
					<key>resolution-preview-height</key>
					<integer>76</integer>
				</dict>				
				<key>a028-e8c9c3</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a028-e8c9c3.tiff</string>
					<key>resolution-preview-x</key>
					<integer>52</integer>
					<key>resolution-preview-y</key>
					<integer>66</integer>
					<key>resolution-preview-width</key>
					<integer>122</integer>
					<key>resolution-preview-height</key>
					<integer>76</integer>
				</dict>
				<key>a029</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a029.tiff</string>
					<key>resolution-preview-x</key>
					<integer>47</integer>
					<key>resolution-preview-y</key>
					<integer>64</integer>
					<key>resolution-preview-width</key>
					<integer>131</integer>
					<key>resolution-preview-height</key>
					<integer>83</integer>
				</dict>
				<key>a02a</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a02a.tiff</string>
					<key>resolution-preview-x</key>
					<integer>47</integer>
					<key>resolution-preview-y</key>
					<integer>64</integer>
					<key>resolution-preview-width</key>
					<integer>131</integer>
					<key>resolution-preview-height</key>
					<integer>83</integer>
				</dict>
				<key>a033-9d9da0</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a033-9d9da0.tiff</string>
					<key>resolution-preview-x</key>
					<integer>48</integer>
					<key>resolution-preview-y</key>
					<integer>62</integer>
					<key>resolution-preview-width</key>
					<integer>131</integer>
					<key>resolution-preview-height</key>
					<integer>83</integer>
				</dict>
				<key>a033-e1e1df</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a033-e1e1df.tiff</string>
					<key>resolution-preview-x</key>
					<integer>48</integer>
					<key>resolution-preview-y</key>
					<integer>62</integer>
					<key>resolution-preview-width</key>
					<integer>131</integer>
					<key>resolution-preview-height</key>
					<integer>83</integer>
				</dict>
				<key>a034-9d9da0</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a033-9d9da0.tiff</string>
					<key>resolution-preview-x</key>
					<integer>48</integer>
					<key>resolution-preview-y</key>
					<integer>62</integer>
					<key>resolution-preview-width</key>
					<integer>131</integer>
					<key>resolution-preview-height</key>
					<integer>83</integer>
				</dict>
				<key>a034-e1e1df</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a033-e1e1df.tiff</string>
					<key>resolution-preview-x</key>
					<integer>48</integer>
					<key>resolution-preview-y</key>
					<integer>62</integer>
					<key>resolution-preview-width</key>
					<integer>131</integer>
					<key>resolution-preview-height</key>
					<integer>83</integer>
				</dict>
				<key>a037-9d9da0</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a033-9d9da0.tiff</string>
					<key>resolution-preview-x</key>
					<integer>48</integer>
					<key>resolution-preview-y</key>
					<integer>62</integer>
					<key>resolution-preview-width</key>
					<integer>131</integer>
					<key>resolution-preview-height</key>
					<integer>83</integer>
				</dict>
				<key>a037-e1e1df</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a033-e1e1df.tiff</string>
					<key>resolution-preview-x</key>
					<integer>48</integer>
					<key>resolution-preview-y</key>
					<integer>62</integer>
					<key>resolution-preview-width</key>
					<integer>131</integer>
					<key>resolution-preview-height</key>
					<integer>83</integer>
				</dict>
				<key>a030-9d9da0</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a030-9d9da0.tiff</string>
					<key>resolution-preview-x</key>
					<integer>40</integer>
					<key>resolution-preview-y</key>
					<integer>62</integer>
					<key>resolution-preview-width</key>
					<integer>147</integer>
					<key>resolution-preview-height</key>
					<integer>92</integer>
				</dict>
				<key>a030-e1e1df</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a030-e1e1df.tiff</string>
					<key>resolution-preview-x</key>
					<integer>40</integer>
					<key>resolution-preview-y</key>
					<integer>62</integer>
					<key>resolution-preview-width</key>
					<integer>147</integer>
					<key>resolution-preview-height</key>
					<integer>92</integer>
				</dict>
				<key>a031-9d9da0</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a030-9d9da0.tiff</string>
					<key>resolution-preview-x</key>
					<integer>40</integer>
					<key>resolution-preview-y</key>
					<integer>62</integer>
					<key>resolution-preview-width</key>
					<integer>147</integer>
					<key>resolution-preview-height</key>
					<integer>92</integer>
				</dict>
				<key>a031-e1e1df</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a030-e1e1df.tiff</string>
					<key>resolution-preview-x</key>
					<integer>40</integer>
					<key>resolution-preview-y</key>
					<integer>62</integer>
					<key>resolution-preview-width</key>
					<integer>147</integer>
					<key>resolution-preview-height</key>
					<integer>92</integer>
				</dict>
				<key>a038-9d9da0</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a030-9d9da0.tiff</string>
					<key>resolution-preview-x</key>
					<integer>40</integer>
					<key>resolution-preview-y</key>
					<integer>62</integer>
					<key>resolution-preview-width</key>
					<integer>147</integer>
					<key>resolution-preview-height</key>
					<integer>92</integer>
				</dict>
				<key>a038-e1e1df</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a030-e1e1df.tiff</string>
					<key>resolution-preview-x</key>
					<integer>40</integer>
					<key>resolution-preview-y</key>
					<integer>62</integer>
					<key>resolution-preview-width</key>
					<integer>147</integer>
					<key>resolution-preview-height</key>
					<integer>92</integer>
				</dict>
				<key>a02e</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a02e.tiff</string>
					<key>resolution-preview-x</key>
					<integer>41</integer>
					<key>resolution-preview-y</key>
					<integer>67</integer>
					<key>resolution-preview-width</key>
					<integer>144</integer>
					<key>resolution-preview-height</key>
					<integer>90</integer>
				</dict>
				<key>a02f</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a02f.tiff</string>
					<key>resolution-preview-x</key>
					<integer>41</integer>
					<key>resolution-preview-y</key>
					<integer>67</integer>
					<key>resolution-preview-width</key>
					<integer>144</integer>
					<key>resolution-preview-height</key>
					<integer>90</integer>
				</dict>
				<key>a032</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a032.tiff</string>
					<key>resolution-preview-x</key>
					<integer>33</integer>
					<key>resolution-preview-y</key>
					<integer>68</integer>
					<key>resolution-preview-width</key>
					<integer>160</integer>
					<key>resolution-preview-height</key>
					<integer>90</integer>
				</dict>
				<key>ae19</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a032.tiff</string>
					<key>resolution-preview-x</key>
					<integer>33</integer>
					<key>resolution-preview-y</key>
					<integer>68</integer>
					<key>resolution-preview-width</key>
					<integer>160</integer>
					<key>resolution-preview-height</key>
					<integer>90</integer>
				</dict>
				<key>ae1a</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a032.tiff</string>
					<key>resolution-preview-x</key>
					<integer>33</integer>
					<key>resolution-preview-y</key>
					<integer>68</integer>
					<key>resolution-preview-width</key>
					<integer>160</integer>
					<key>resolution-preview-height</key>
					<integer>90</integer>
				</dict>
				<key>ae1b</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/DisplayVendorID-610/DisplayProductID-a032.tiff</string>
					<key>resolution-preview-x</key>
					<integer>33</integer>
					<key>resolution-preview-y</key>
					<integer>68</integer>
					<key>resolution-preview-width</key>
					<integer>160</integer>
					<key>resolution-preview-height</key>
					<integer>90</integer>
				</dict>
				<key>ae11</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-65CE76090165799A.tiff</string>
					<key>resolution-preview-x</key>
					<integer>12</integer>
					<key>resolution-preview-y</key>
					<integer>71</integer>
					<key>resolution-preview-width</key>
					<integer>202</integer>
					<key>resolution-preview-height</key>
					<integer>114</integer>
				</dict>
				<key>ae12</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-65CE76090165799A.tiff</string>
					<key>resolution-preview-x</key>
					<integer>12</integer>
					<key>resolution-preview-y</key>
					<integer>71</integer>
					<key>resolution-preview-width</key>
					<integer>202</integer>
					<key>resolution-preview-height</key>
					<integer>114</integer>
				</dict>
				<key>ae13</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-65CE76090165799A.tiff</string>
					<key>resolution-preview-x</key>
					<integer>12</integer>
					<key>resolution-preview-y</key>
					<integer>71</integer>
					<key>resolution-preview-width</key>
					<integer>202</integer>
					<key>resolution-preview-height</key>
					<integer>114</integer>
				</dict>
				<key>ae15</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-65CE76090165799A.tiff</string>
					<key>resolution-preview-x</key>
					<integer>12</integer>
					<key>resolution-preview-y</key>
					<integer>71</integer>
					<key>resolution-preview-width</key>
					<integer>202</integer>
					<key>resolution-preview-height</key>
					<integer>114</integer>
				</dict>
				<key>ae16</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-65CE76090165799A.tiff</string>
					<key>resolution-preview-x</key>
					<integer>12</integer>
					<key>resolution-preview-y</key>
					<integer>71</integer>
					<key>resolution-preview-width</key>
					<integer>202</integer>
					<key>resolution-preview-height</key>
					<integer>114</integer>
				</dict>
				<key>ae17</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-65CE76090165799A.tiff</string>
					<key>resolution-preview-x</key>
					<integer>12</integer>
					<key>resolution-preview-y</key>
					<integer>71</integer>
					<key>resolution-preview-width</key>
					<integer>202</integer>
					<key>resolution-preview-height</key>
					<integer>114</integer>
				</dict>
				<key>ae1d</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-7BA5B2D9E42DDD94.tiff</string>
					<key>resolution-preview-x</key>
					<integer>12</integer>
					<key>resolution-preview-y</key>
					<integer>71</integer>
					<key>resolution-preview-width</key>
					<integer>202</integer>
					<key>resolution-preview-height</key>
					<integer>114</integer>
				</dict>
				<key>ae1e</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-7BA5B2D9E42DDD94.tiff</string>
					<key>resolution-preview-x</key>
					<integer>12</integer>
					<key>resolution-preview-y</key>
					<integer>71</integer>
					<key>resolution-preview-width</key>
					<integer>202</integer>
					<key>resolution-preview-height</key>
					<integer>114</integer>
				</dict>
				<key>ae1f</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>/System/Library/Displays/Contents/Resources/Overrides/Models/Mac-7BA5B2D9E42DDD94.tiff</string>
					<key>resolution-preview-x</key>
					<integer>12</integer>
					<key>resolution-preview-y</key>
					<integer>71</integer>
					<key>resolution-preview-width</key>
					<integer>202</integer>
					<key>resolution-preview-height</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>display-icon</key>
			<string>com.apple.cinema-display</string>
		</dict>
		<key>VID</key>
		<dict>
			<key>products</key>
			<dict>
				<key>PID</key>
				<dict>
					<key>display-resolution-preview-icon</key>
					<string>PICON</string>
					<key>resolution-preview-x</key>
					<integer>RPX</integer>
					<key>resolution-preview-y</key>
					<integer>RPY</integer>
					<key>resolution-preview-width</key>
					<integer>RPW</integer>
					<key>resolution-preview-height</key>
					<integer>RPH</integer>
					<key>display-icon</key>
					<string>DICON</string>
				</dict>
			</dict>
		</dict>
		<key>display-icon</key>
		<string>public.display</string>
	</dict>
</dict>
</plist>
